html {
    /* all elements will have box-sizing as border-box by default ,until it gets changed in parent */
    box-sizing: border-box;
    /* border-box takes width of an element including padding ,where as content-box takes only for the content in a element */
}

*,
*:after,
*:before {
    /* every child element will follow box-sizing of parent */
    box-sizing: inherit;

    /* child will inherit box-sizing property from the father element if its changed by apllying specific box-sizing property. */
}

#demo {
    border: solid 5px red;
    padding: 5px;
    margin-bottom: 20px;
    width: 200px;
}

#demo2 {
    border: solid 5px red;
    /* padding: 5px; */
    width: 200px;
    box-sizing: content-box;

}
#demo3 {
    border: solid blue 3px;
    width: 150px;
}

/*when its content box it takes left-border-width + right-border-width + content */
/* when its border-boc total width =  what is the width provided (including
left-border-width + right-border-width + content) */